.toolbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.buttons_menu button{
    margin: 0 10px;
    background: #3F51B5;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.form{
    width: 60%;
    margin: 40px auto;
    display: flex;
    justify-content: center;
}

.form button{
    background: #3F51B5;
    color: white;
    width: 100%;
    margin: 20px auto;
    margin-bottom: 0px;
    border: 0;
    cursor: pointer;
}