<mat-toolbar color="primary" class="toolbar">
    <div>
        <span>AgroAssist</span>
    </div>
    <span class="example-spacer"></span>
    <div class="buttons_menu">
        <button mat-button color="primary" routerLink="/">Home</button>
        <button mat-button color="primary" routerLink="/farmers/new">Add Farmer</button>
    </div>
</mat-toolbar>

<mat-card class="card_home">
    <mat-card-title>
        <h2>Last User</h2> <br> 
        id: {{lastFarmer.id}} <br>
        username: {{lastFarmer.username}}
    </mat-card-title>
</mat-card>